{% extends "layout.html" %}
{% set active_page = "announcements" %}
{% block content %}
<article class="media content-section content-fit">
  <div class="media-body">
    <div class="article-metadata d-flex flex-row  position-relative">
      <h4 class="pl-2 article-title">Announcements</h4>
      <div class="pl-2 pb-1 align-self-end">
        <em class="gray">
          {{ posts.items|length }} total
        </em>
      </div>
    </div>

    <div>
      <form action="">
        <div class="input-group mt-2 mb-2">
          <input type="text" class="form-control" placeholder="Search ...">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-dark ml-1">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
      </form>

      <!--Accordion wrapper-->
      <div class="accordion md-accordion mb-2" id="accordionEx1" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card check-card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingTwo1">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
              aria-expanded="false" aria-controls="collapseTwo1">
              <h5 class="mb-0">
                <i class="fas fa-sort-amount-down float-right"></i>Filters <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
            data-parent="#accordionEx1">
            <div class="card-body">

              <div class="form-group">
                <h6>Announcement type:</h6>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="buy" name="announcement_type">
                  <label class="custom-control-label" for="buy"> Buy</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="rent" name="announcement_type" checked>
                  <label class="custom-control-label" for="rent"> Rent</label>
                </div>
              </div>
              <div class="form-group">
                <h6>Immobile type:</h6>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="house" name="house_type">
                  <label class="custom-control-label" for="house"> House</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="apartment" name="house_type" checked>
                  <label class="custom-control-label" for="apartment"> Apartment</label>
                </div>
              </div>
              <table class="form-group" style="width: 100%;">
                <tr>
                  <th>Country</th>
                  <th>City</th>
                </tr>
                <tr>
                  <td>
                    <select id="templates" data-live-search="true" title="Select a country"
                    class="form-control form-control-lg selectpicker">
                      {% for country in countries %}
                        <option value="{{country.name}}">{{country.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <select id="templates" data-live-search="true" title="Select a country"
                      class="form-control form-control-lg selectpicker">
                      {% for city in cities %}
                        <option value="{{city.name}}">{{city.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
              </table>
              <table class="form-group" style="width: 100%;">
                <h6 class="mb-2">Square footage</h6>
                <tr>
                  <td class="text-right">1</td>
                  <td width="90%"> 
                    <div class="slidecontainer">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    </div>
                  </td>
                  <td>100</td>
                </tr>
              </table>

              <table class="form-group" style="width: 100%;">
                <h6 class="mb-2">Price</h6>
                <tr>
                  <td class="text-right">400</td>
                  <td width="90%"> 
                    <div class="slidecontainer">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
                    </div>
                  </td>
                  <td>543543</td>
                </tr>
              </table>

              <button class="btn btn-dark">Apply filters</button>
            </div>
          </div>

        </div>
        
      </div>
      <!-- Accordion wrapper -->

      {% for post in posts.items %}
      <article class="media content-section table-row" data-href="{{ url_for('posts.post', post_id=post.id) }}">
        <div class="article-metadata">
          {% if post.images[0] %}
          <img class="article-img" src="/static/post_pics/{{post.images[0].name}}">
          {% else %}
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='defaults/house.png') }}">
          {% endif %}
          <p class="article-price text-center">{{post.price}} €</p>
        </div>
        <div class="media-body">
          <h4><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
          <div class="article-metadata">
            <a class="mr-2"
              href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <a class="btn btn-info badge float-right article-type">{{ post.anouncement_type }}</a>
          </div>
          <div class="article-metadata">
            <small class="text-muted">{{post.city.name}}, {{post.address}}</small>
          </div>
          <div class="article-metadata">
            <small class="text-muted">{{post.house_type}}, {{post.square_meters}} m², {{post.number_rooms}} rooms</small>
          </div>
          <div class="article-metadata">
            <small class="text-muted">{{ post.date_posted.strftime('%H:%M %d-%B-%Y') }}</small>
            
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    <div class="p-3">
         
    </div>

    <div class="pagination-bottom">
      <div class="text-center">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-dark" href="{{ url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-dark" href="{{ url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% endif %}
        {% endif %}
      {% endfor %}
      </div>
  </div>
  </div>
</article>
<script>
  $(document).ready(function () {
      $(".table-row").click(function() {
          window.document.location = $(this).data("href");
      });
  });
</script>
{% endblock content %}

{% block sidecol %}
{% endblock sidecol %}